.Inactive-navigation-bar-option-text {
    color: rgb(153, 153, 153);
    flex-shrink: 0;
    font-size: 1.5vw;
    margin: 3%;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.Active-navigation-bar-option-text {
    color: white;
    flex-shrink: 0;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 3%;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.Navigation-bar-container {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    margin: 0%;
}

.Navigation-bar-options-container {
    display: flex;
    width: 100%;
    margin: 0.5%;
}